.content {
  background-color: #fff;
  height: calc(100vh - 50px - 38px - 30px - 2 * 20px);
  // height: 100%;
  // https://www.cnblogs.com/xaun/p/13673798.html
  .title {
    font-size: 40px;
    line-height: 62px;
    color: #1677FF;
  }
  .desc {
    text-align: center;
    font-size: 14px;
    color: gray;
  }
}

.img {
  // background: url('@/assets/welcome-bg.png') no-repeat;
  background-size: contain;
  max-width: 370px;
  height: 320px;
  margin-left: 300px;
}
